body {
  background-color: #FEF7DC;
}

img {
  width: 150px;
  height: 150px;

}

h1 {
  text-align: center;
 transform: scale(2);
  margin-bottom: 20px;
    color: #A19882;
}
.btn-group {
  margin-top: 10px;


}
.alert-img {
    margin-top:30px;
}
.menu-item {
    margin-bottom: 50px;
    margin-top: 50px;

}
